/*방명록*/
.comment__box {
    display: flex;
    flex-direction: column;
    margin-top: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 50px;
}

.comment__box > h1 {
    margin-bottom: 50px;
    font-weight: 600;
}

.comment__panel {
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 25px;
}

.comment__name {
    width: 80px;
    font-weight: bold;
}

.comment__text {
    flex: 1;
    word-break: break-word;
}

.comment__date {
    white-space: nowrap;
}

.comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:15px;
    padding:25px;
    background-color: white;
    margin:0px 40px 25px 40px;
    border-radius: 8px;
}


.hidden {
    display: none;
}